<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="searchAppAccountSubClassMapper">			
	
	<select id="countAppAccountSubClassSearch">
		select count(*) from app_account_sub_class
		<trim prefix="where" prefixOverrides="and">
			<if test="accountSubClassId!=null">
				and account_sub_class_id like #{accountSubClassId}
			</if>
			<if test="accountSubClassName!=null">
				and account_sub_class_name like #{accountSubClassName}
			</if>
			<if test="note!=null">
				and note like #{note}
			</if>
			<if test="accountClassId!=null">
				and account_class_id like #{accountClassId}
			</if>
		</where>		
	</select>

	<select id="searchAppAccountSubClass">
		select * from app_account_sub_class  
		<trim prefix="where" prefixOverrides="and">
			<if test="accountSubClassId!=null">
				account_sub_class_id like #{accountSubClassId}
			</if>
			<if test="accountSubClassName!=null">
				account_sub_class_name like #{accountSubClassName}
			</if>
			<if test="note!=null">
				note like #{note}
			</if>
			<if test="accountClassId!=null">
				account_class_id like #{accountClassId}
			</if>
		</where> limit 100 offset ${rowid}
	</select>

</mapper>
