<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="newAppApVendorDetailMapper">			
	
	<insert id="newAppApVendorDetail">
		insert into app_ap_vendor_detail(ap_vendor_detail_id,vendor_id,date,note,debit,credit,debit_balance,credit_balance,balance,reference_no,ar_due_date,status) 
		values (#{apVendorDetailId},#{vendorId},#{date},#{note},#{debit},#{credit},#{debitBalance},#{creditBalance},#{balance},#{referenceNo},#{arDueDate},#{status});
	</insert>

</mapper>
