<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="readAppApWriteoffVerificationMapper">			
	
	<select id="readAppApWriteoffVerification">
		select * from app_ap_writeoff_verification where write_off_verification_id = #{writeOffVerificationId};
	</select>

</mapper>
