<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="writeAppApWriteoffVerificationMapper">			
	
	<update id="writeAppApWriteoffVerification">
		update app_ap_writeoff_verification set write_off_verification_id = #{writeOffVerificationId},
		ref = #{ref},
		date = #{date},
		amount = #{amount},
		note = #{note},
		acccount_no = #{acccountNo},
		allowance_account_no = #{allowanceAccountNo},
		reference_no_tobe_writeoff = #{referenceNoTobeWriteoff} where write_off_verification_id = #{writeOffVerificationId};
	</update>

</mapper>
