<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deleteAppArAgingMapper">			
	
	<delete id="deleteAppArAging">
		delete from app_ar_aging where ar_aging_id = #{arAgingId};
	</delete>

</mapper>
