<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="searchAppApVendorDetailMapper">			
	
	<select id="countAppApVendorDetailSearch">
		select count(*) from app_ap_vendor_detail
		<trim prefix="where" prefixOverrides="and">
			<if test="apVendorDetailId!=null">
				and ap_vendor_detail_id like #{apVendorDetailId}
			</if>
			<if test="vendorId!=null">
				and vendor_id like #{vendorId}
			</if>
			<if test="date!=null">
				and date like #{date}
			</if>
			<if test="note!=null">
				and note like #{note}
			</if>
			<if test="debit!=null">
				and debit like #{debit}
			</if>
			<if test="credit!=null">
				and credit like #{credit}
			</if>
			<if test="debitBalance!=null">
				and debit_balance like #{debitBalance}
			</if>
			<if test="creditBalance!=null">
				and credit_balance like #{creditBalance}
			</if>
			<if test="balance!=null">
				and balance like #{balance}
			</if>
			<if test="referenceNo!=null">
				and reference_no like #{referenceNo}
			</if>
			<if test="arDueDate!=null">
				and ar_due_date like #{arDueDate}
			</if>
			<if test="status!=null">
				and status like #{status}
			</if>
		</where>		
	</select>

	<select id="searchAppApVendorDetail">
		select * from app_ap_vendor_detail  
		<trim prefix="where" prefixOverrides="and">
			<if test="apVendorDetailId!=null">
				ap_vendor_detail_id like #{apVendorDetailId}
			</if>
			<if test="vendorId!=null">
				vendor_id like #{vendorId}
			</if>
			<if test="date!=null">
				date like #{date}
			</if>
			<if test="note!=null">
				note like #{note}
			</if>
			<if test="debit!=null">
				debit like #{debit}
			</if>
			<if test="credit!=null">
				credit like #{credit}
			</if>
			<if test="debitBalance!=null">
				debit_balance like #{debitBalance}
			</if>
			<if test="creditBalance!=null">
				credit_balance like #{creditBalance}
			</if>
			<if test="balance!=null">
				balance like #{balance}
			</if>
			<if test="referenceNo!=null">
				reference_no like #{referenceNo}
			</if>
			<if test="arDueDate!=null">
				ar_due_date like #{arDueDate}
			</if>
			<if test="status!=null">
				status like #{status}
			</if>
		</where> limit 100 offset ${rowid}
	</select>

</mapper>
