<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="readAppBankFundTransferMapper">			
	
	<select id="readAppBankFundTransfer">
		select * from app_bank_fund_transfer where bank_fund_transfer_id = #{bankFundTransferId};
	</select>

</mapper>
