<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="newAppBankWcFaMapper">			
	
	<insert id="newAppBankWcFa">
		insert into app_bank_wc_fa(bank_wc_fa_id,bank_write_check_id,account_no,department_id,amount,job_order_no) 
		values (#{bankWcFaId},#{bankWriteCheckId},#{accountNo},#{departmentId},#{amount},#{jobOrderNo});
	</insert>

</mapper>
