<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="searchAppBankReconciliationMapper">			
	
	<select id="countAppBankReconciliationSearch">
		select count(*) from app_bank_reconciliation
		<trim prefix="where" prefixOverrides="and">
			<if test="bankReconciliationId!=null">
				and bank_reconciliation_id like #{bankReconciliationId}
			</if>
			<if test="accountNo!=null">
				and account_no like #{accountNo}
			</if>
			<if test="currentAccountDate!=null">
				and current_account_date like #{currentAccountDate}
			</if>
			<if test="currentAccountBalance!=null">
				and current_account_balance like #{currentAccountBalance}
			</if>
		</where>		
	</select>

	<select id="searchAppBankReconciliation">
		select * from app_bank_reconciliation  
		<trim prefix="where" prefixOverrides="and">
			<if test="bankReconciliationId!=null">
				bank_reconciliation_id like #{bankReconciliationId}
			</if>
			<if test="accountNo!=null">
				account_no like #{accountNo}
			</if>
			<if test="currentAccountDate!=null">
				current_account_date like #{currentAccountDate}
			</if>
			<if test="currentAccountBalance!=null">
				current_account_balance like #{currentAccountBalance}
			</if>
		</where> limit 100 offset ${rowid}
	</select>

</mapper>
