<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="readAppBankReconciliationMapper">			
	
	<select id="readAppBankReconciliation">
		select * from app_bank_reconciliation where bank_reconciliation_id = #{bankReconciliationId};
	</select>

	<select id="appBankReconciliationDetail_AYWJO">         
		select * from app_bank_reconciliation_detail where bank_reconciliation_id = #{bankReconciliationId};
	</select>
  
</mapper>
