<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="newAppBackupInfoMapper">			
	
	<insert id="newAppBackupInfo">
		insert into app_backup_info(backup_info_id,backup_folder,archive_file_name,backup_date,backup_by) 
		values (#{backupInfoId},#{backupFolder},#{archiveFileName},#{backupDate},#{backupBy});
	</insert>

</mapper>
