<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="writeAppBankReconciliationMapper">			
	
	<update id="writeAppBankReconciliation">
		update app_bank_reconciliation set bank_reconciliation_id = #{bankReconciliationId},
		account_no = #{accountNo},
		current_account_date = #{currentAccountDate},
		current_account_balance = #{currentAccountBalance} where bank_reconciliation_id = #{bankReconciliationId};
	</update>

</mapper>
