<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="readAppCurrencyRevaluationMapper">			
	
	<select id="readAppCurrencyRevaluation">
		select * from app_currency_revaluation where currency_revaluation_id = #{currencyRevaluationId};
	</select>

</mapper>
