<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="newAppCurrencyRevaluationMapper">			
	
	<insert id="newAppCurrencyRevaluation">
		insert into app_currency_revaluation(currency_revaluation_id,date,currency_id,exchange_rate,is_activate_account_filter_type,is_activate_account_code_filter,is_recalculate_account_end_balance) 
		values (#{currencyRevaluationId},#{date},#{currencyId},#{exchangeRate},#{isActivateAccountFilterType},#{isActivateAccountCodeFilter},#{isRecalculateAccountEndBalance});
	</insert>

</mapper>
