<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="searchAppCustomerTermOfPayMapper">			
	
	<select id="countAppCustomerTermOfPaySearch">
		select count(*) from app_customer_term_of_pay
		<trim prefix="where" prefixOverrides="and">
			<if test="customerId!=null">
				and customer_id like #{customerId}
			</if>
			<if test="termOfPaymentId!=null">
				and term_of_payment_id like #{termOfPaymentId}
			</if>
		</where>		
	</select>

	<select id="searchAppCustomerTermOfPay">
		select * from app_customer_term_of_pay  
		<trim prefix="where" prefixOverrides="and">
			<if test="customerId!=null">
				customer_id like #{customerId}
			</if>
			<if test="termOfPaymentId!=null">
				term_of_payment_id like #{termOfPaymentId}
			</if>
		</where> limit 100 offset ${rowid}
	</select>

</mapper>
