<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="newAppCurrencyFluctuationMapper">			
	
	<insert id="newAppCurrencyFluctuation">
		insert into app_currency_fluctuation(currency_fluctuation_id,currency_id,by_date,exchange_rate) 
		values (#{currencyFluctuationId},#{currencyId},#{byDate},#{exchangeRate});
	</insert>

</mapper>
