<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deleteAppCompanyInfoMapper">			
	
	<delete id="deleteAppCompanyInfo">
		delete from app_company_info where company_info_id = #{companyInfoId};
	</delete>

</mapper>
