<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="searchAppCustomerTermOfSalesMapper">			
	
	<select id="countAppCustomerTermOfSalesSearch">
		select count(*) from app_customer_term_of_sales
		<trim prefix="where" prefixOverrides="and">
			<if test="customerId!=null">
				and customer_id like #{customerId}
			</if>
			<if test="termOfSalesId!=null">
				and term_of_sales_id like #{termOfSalesId}
			</if>
		</where>		
	</select>

	<select id="searchAppCustomerTermOfSales">
		select * from app_customer_term_of_sales  
		<trim prefix="where" prefixOverrides="and">
			<if test="customerId!=null">
				customer_id like #{customerId}
			</if>
			<if test="termOfSalesId!=null">
				term_of_sales_id like #{termOfSalesId}
			</if>
		</where> limit 100 offset ${rowid}
	</select>

</mapper>
