<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="newAppEmploymentStatusMapper">			
	
	<insert id="newAppEmploymentStatus">
		insert into app_employment_status(employment_status_id,employment_status,employment_desc) 
		values (#{employmentStatusId},#{employmentStatus},#{employmentDesc});
	</insert>

</mapper>
