<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="writeAppGeneralJournalItemsMapper">			
	
	<update id="writeAppGeneralJournalItems">
		update app_general_journal_items set general_journal_id = #{generalJournalId},
		account_no = #{accountNo},
		debit_amount = #{debitAmount},
		credit_amount = #{creditAmount},
		job_order_no = #{jobOrderNo} where general_journal_id = #{generalJournalId};
	</update>

</mapper>
