<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="readAppGeneralLedgerDetailMapper">			
	
	<select id="readAppGeneralLedgerDetail">
		select * from app_general_ledger_detail where general_ledger_detail_id = #{generalLedgerDetailId};
	</select>

</mapper>
