<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="writeAppInventoryOpenBalanceMapper">			
	
	<update id="writeAppInventoryOpenBalance">
		update app_inventory_open_balance set inventory_opening_balance_id = #{inventoryOpeningBalanceId},
		location_master = #{locationMaster},
		product_id = #{productId},
		beginning_balance = #{beginningBalance},
		unit_cost = #{unitCost},
		is_serial_number = #{isSerialNumber},
		is_lot_number = #{isLotNumber} where inventory_opening_balance_id = #{inventoryOpeningBalanceId};
	</update>

</mapper>
