<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deleteAppInventoryOpenBalanceMapper">			
	
	<delete id="deleteAppInventoryOpenBalance">
		delete from app_inventory_open_balance where inventory_opening_balance_id = #{inventoryOpeningBalanceId};
	</delete>

</mapper>
