<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="newAppMonthEndPeriodMapper">			
	
	<insert id="newAppMonthEndPeriod">
		insert into app_month_end_period(month_end_period_id,date,is_calculate_and_create_depr_journal,is_recalculate_account_balance,is_recalculate_inventory_account_balance,is_revaluation_foreign_currency) 
		values (#{monthEndPeriodId},#{date},#{isCalculateAndCreateDeprJournal},#{isRecalculateAccountBalance},#{isRecalculateInventoryAccountBalance},#{isRevaluationForeignCurrency});
	</insert>

</mapper>
