<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deleteAppMonthEndPeriodMapper">			
	
	<delete id="deleteAppMonthEndPeriod">
		delete from app_month_end_period where month_end_period_id = #{monthEndPeriodId};
	</delete>

</mapper>
