<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="newAppProductImageMapper">			
	
	<insert id="newAppProductImage">
		insert into app_product_image(product_image_id,image,product_id) 
		values (#{productImageId},#{image},#{productId});
	</insert>

</mapper>
