<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="newAppProductCategoryMapper">			
	
	<insert id="newAppProductCategory">
		insert into app_product_category(product_category_id,category_name,location,department_id,is_inventory,is_purchased,is_sold,inventory_method,acct_code_cogs,acct_code_sales,acct_code_sales_return,acct_code_inventory,acct_code_consignment,image) 
		values (#{productCategoryId},#{categoryName},#{location},#{departmentId},#{isInventory},#{isPurchased},#{isSold},#{inventoryMethod},#{acctCodeCogs},#{acctCodeSales},#{acctCodeSalesReturn},#{acctCodeInventory},#{acctCodeConsignment},#{image});
	</insert>

</mapper>
