<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="readAppProductAcctCodeMapper">			
	
	<select id="readAppProductAcctCode">
		select * from app_product_acct_code where product_acct_code_and_cogs_id = #{productAcctCodeAndCogsId};
	</select>

</mapper>
