<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="searchAppProductAcctCodeMapper">			
	
	<select id="countAppProductAcctCodeSearch">
		select count(*) from app_product_acct_code
		<trim prefix="where" prefixOverrides="and">
			<if test="productAcctCodeAndCogsId!=null">
				and product_acct_code_and_cogs_id like #{productAcctCodeAndCogsId}
			</if>
			<if test="isInventory!=null">
				and is_inventory like #{isInventory}
			</if>
			<if test="isPurchased!=null">
				and is_purchased like #{isPurchased}
			</if>
			<if test="isSold!=null">
				and is_sold like #{isSold}
			</if>
			<if test="acctCodeCogs!=null">
				and acct_code_cogs like #{acctCodeCogs}
			</if>
			<if test="acctCodeSales!=null">
				and acct_code_sales like #{acctCodeSales}
			</if>
			<if test="acctCodeSalesReturn!=null">
				and acct_code_sales_return like #{acctCodeSalesReturn}
			</if>
			<if test="acctCodeInventory!=null">
				and acct_code_inventory like #{acctCodeInventory}
			</if>
			<if test="acctCodeConsignment!=null">
				and acct_code_consignment like #{acctCodeConsignment}
			</if>
			<if test="productId!=null">
				and product_id like #{productId}
			</if>
		</where>		
	</select>

	<select id="searchAppProductAcctCode">
		select * from app_product_acct_code  
		<trim prefix="where" prefixOverrides="and">
			<if test="productAcctCodeAndCogsId!=null">
				product_acct_code_and_cogs_id like #{productAcctCodeAndCogsId}
			</if>
			<if test="isInventory!=null">
				is_inventory like #{isInventory}
			</if>
			<if test="isPurchased!=null">
				is_purchased like #{isPurchased}
			</if>
			<if test="isSold!=null">
				is_sold like #{isSold}
			</if>
			<if test="acctCodeCogs!=null">
				acct_code_cogs like #{acctCodeCogs}
			</if>
			<if test="acctCodeSales!=null">
				acct_code_sales like #{acctCodeSales}
			</if>
			<if test="acctCodeSalesReturn!=null">
				acct_code_sales_return like #{acctCodeSalesReturn}
			</if>
			<if test="acctCodeInventory!=null">
				acct_code_inventory like #{acctCodeInventory}
			</if>
			<if test="acctCodeConsignment!=null">
				acct_code_consignment like #{acctCodeConsignment}
			</if>
			<if test="productId!=null">
				product_id like #{productId}
			</if>
		</where> limit 100 offset ${rowid}
	</select>

</mapper>
