<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="readAppPayGradeMapper">			
	
	<select id="readAppPayGrade">
		select * from app_pay_grade where pay_grade_id = #{payGradeId};
	</select>

	<select id="appEmployee_YLYYZ">         
		select * from app_employee where pay_grade_id = #{payGradeId};
	</select>
  
</mapper>
