<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="writeAppProductMapper">			
	
	<update id="writeAppProduct">
		update app_product set product_id = #{productId},
		product_code = #{productCode},
		product_desc = #{productDesc},
		base_unit = #{baseUnit},
		report_unit = #{reportUnit},
		product_group_1st = #{productGroup1st},
		product_group_2nd = #{productGroup2nd},
		product_group_3rd = #{productGroup3rd},
		product_group_4th = #{productGroup4th},
		alias_code = #{aliasCode},
		is_use_serial_number = #{isUseSerialNumber},
		is_use_lot = #{isUseLot},
		is_consignment = #{isConsignment},
		is_not_active = #{isNotActive},
		is_seasonal_product = #{isSeasonalProduct},
		product_category_id = #{productCategoryId} where product_id = #{productId};
	</update>

</mapper>
