<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="searchAppRptTrialBalanceMapper">			
	
	<select id="countAppRptTrialBalanceSearch">
		select count(*) from app_rpt_trial_balance
		<trim prefix="where" prefixOverrides="and">
			<if test="rptTrialBalanceId!=null">
				and rpt_trial_balance_id like #{rptTrialBalanceId}
			</if>
			<if test="rptTrialBalanceName!=null">
				and rpt_trial_balance_name like #{rptTrialBalanceName}
			</if>
			<if test="departmentFrom!=null">
				and department_from like #{departmentFrom}
			</if>
			<if test="departmentTo!=null">
				and department_to like #{departmentTo}
			</if>
			<if test="currencyId!=null">
				and currency_id like #{currencyId}
			</if>
			<if test="accountNo!=null">
				and account_no like #{accountNo}
			</if>
			<if test="endingBalanceDebit!=null">
				and ending_balance_debit like #{endingBalanceDebit}
			</if>
			<if test="endingBalanceCredit!=null">
				and ending_balance_credit like #{endingBalanceCredit}
			</if>
			<if test="dateCreated!=null">
				and date_created like #{dateCreated}
			</if>
			<if test="createdBy!=null">
				and created_by like #{createdBy}
			</if>
		</where>		
	</select>

	<select id="searchAppRptTrialBalance">
		select * from app_rpt_trial_balance  
		<trim prefix="where" prefixOverrides="and">
			<if test="rptTrialBalanceId!=null">
				rpt_trial_balance_id like #{rptTrialBalanceId}
			</if>
			<if test="rptTrialBalanceName!=null">
				rpt_trial_balance_name like #{rptTrialBalanceName}
			</if>
			<if test="departmentFrom!=null">
				department_from like #{departmentFrom}
			</if>
			<if test="departmentTo!=null">
				department_to like #{departmentTo}
			</if>
			<if test="currencyId!=null">
				currency_id like #{currencyId}
			</if>
			<if test="accountNo!=null">
				account_no like #{accountNo}
			</if>
			<if test="endingBalanceDebit!=null">
				ending_balance_debit like #{endingBalanceDebit}
			</if>
			<if test="endingBalanceCredit!=null">
				ending_balance_credit like #{endingBalanceCredit}
			</if>
			<if test="dateCreated!=null">
				date_created like #{dateCreated}
			</if>
			<if test="createdBy!=null">
				created_by like #{createdBy}
			</if>
		</where> limit 100 offset ${rowid}
	</select>

</mapper>
