<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="writeAppRptTrialBalanceMapper">			
	
	<update id="writeAppRptTrialBalance">
		update app_rpt_trial_balance set rpt_trial_balance_id = #{rptTrialBalanceId},
		rpt_trial_balance_name = #{rptTrialBalanceName},
		department_from = #{departmentFrom},
		department_to = #{departmentTo},
		currency_id = #{currencyId},
		account_no = #{accountNo},
		ending_balance_debit = #{endingBalanceDebit},
		ending_balance_credit = #{endingBalanceCredit},
		date_created = #{dateCreated},
		created_by = #{createdBy} where rpt_trial_balance_id = #{rptTrialBalanceId};
	</update>

</mapper>
