<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deleteAppRptCashFlowMapper">			
	
	<delete id="deleteAppRptCashFlow">
		delete from app_rpt_cash_flow where rpt_cash_flow_id = #{rptCashFlowId};
	</delete>

</mapper>
