<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="writeAppRecurringBankWcFaMapper">			
	
	<update id="writeAppRecurringBankWcFa">
		update app_recurring_bank_wc_fa set recurring_bank_wc_fa_id = #{recurringBankWcFaId},
		recurring_bank_write_check_id = #{recurringBankWriteCheckId},
		account_no = #{accountNo},
		department_id = #{departmentId},
		amount = #{amount},
		job_order_no = #{jobOrderNo} where recurring_bank_wc_fa_id = #{recurringBankWcFaId};
	</update>

</mapper>
