<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="writeAppRefCityMapper">			
	
	<update id="writeAppRefCity">
		update app_ref_city set city_id = #{cityId},
		name = #{name},
		details = #{details},
		province_id = #{provinceId} where city_id = #{cityId};
	</update>

</mapper>
