<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deleteAppRecurringBankWcFaMapper">			
	
	<delete id="deleteAppRecurringBankWcFa">
		delete from app_recurring_bank_wc_fa where recurring_bank_wc_fa_id = #{recurringBankWcFaId};
	</delete>

</mapper>
