<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deleteAppRptBalanceSheetMapper">			
	
	<delete id="deleteAppRptBalanceSheet">
		delete from app_rpt_balance_sheet where rpt_balance_sheet_id = #{rptBalanceSheetId};
	</delete>

</mapper>
