<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="readAppRptTrialBalanceMapper">			
	
	<select id="readAppRptTrialBalance">
		select * from app_rpt_trial_balance where rpt_trial_balance_id = #{rptTrialBalanceId};
	</select>

</mapper>
