<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="searchAppRestoreInfoMapper">			
	
	<select id="countAppRestoreInfoSearch">
		select count(*) from app_restore_info
		<trim prefix="where" prefixOverrides="and">
			<if test="restoreInfoId!=null">
				and restore_info_id like #{restoreInfoId}
			</if>
			<if test="archiveFileName!=null">
				and archive_file_name like #{archiveFileName}
			</if>
			<if test="newLocationFolder!=null">
				and new_location_folder like #{newLocationFolder}
			</if>
			<if test="newArchiveFileName!=null">
				and new_archive_file_name like #{newArchiveFileName}
			</if>
			<if test="serverName!=null">
				and server_name like #{serverName}
			</if>
		</where>		
	</select>

	<select id="searchAppRestoreInfo">
		select * from app_restore_info  
		<trim prefix="where" prefixOverrides="and">
			<if test="restoreInfoId!=null">
				restore_info_id like #{restoreInfoId}
			</if>
			<if test="archiveFileName!=null">
				archive_file_name like #{archiveFileName}
			</if>
			<if test="newLocationFolder!=null">
				new_location_folder like #{newLocationFolder}
			</if>
			<if test="newArchiveFileName!=null">
				new_archive_file_name like #{newArchiveFileName}
			</if>
			<if test="serverName!=null">
				server_name like #{serverName}
			</if>
		</where> limit 100 offset ${rowid}
	</select>

</mapper>
