<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="newAppRecurringJournalMapper">			
	
	<insert id="newAppRecurringJournal">
		insert into app_recurring_journal(recurring_journal_id,transaction_name,frequency,reference,date,note) 
		values (#{recurringJournalId},#{transactionName},#{frequency},#{reference},#{date},#{note});
	</insert>

</mapper>
