<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="readAppSummaryApVendorMapper">			
	
	<select id="readAppSummaryApVendor">
		select * from app_summary_ap_vendor where summary_ap_vendor_id = #{summaryApVendorId};
	</select>

</mapper>
