<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="newAppStockCardMapper">			
	
	<insert id="newAppStockCard">
		insert into app_stock_card(stock_card_id,product_id,transaction_date,ref_no,doc_type,transaction_type,transaction_qty) 
		values (#{stockCardId},#{productId},#{transactionDate},#{refNo},#{docType},#{transactionType},#{transactionQty});
	</insert>

</mapper>
