<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deleteAppStockCardMapper">			
	
	<delete id="deleteAppStockCard">
		delete from app_stock_card where stock_card_id = #{stockCardId};
	</delete>

</mapper>
