<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="newAppTermOfSalesMapper">			
	
	<insert id="newAppTermOfSales">
		insert into app_term_of_sales(term_of_sales_id,tos_code,tos_desc,discount_days_indays,due_date_indays,early_discount_inpercentage,late_charges_inpercentage) 
		values (#{termOfSalesId},#{tosCode},#{tosDesc},#{discountDaysIndays},#{dueDateIndays},#{earlyDiscountInpercentage},#{lateChargesInpercentage});
	</insert>

</mapper>
