<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="writeAppTaxMapper">			
	
	<update id="writeAppTax">
		update app_tax set tax_id = #{taxId},
		tax_code = #{taxCode},
		tax = #{tax},
		percentage = #{percentage},
		is_cogs_deductible = #{isCogsDeductible},
		acct_code_purchase_tax = #{acctCodePurchaseTax},
		acct_code_sales = #{acctCodeSales},
		details = #{details} where tax_id = #{taxId};
	</update>

</mapper>
