<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="writeAppWorkStationMapper">			
	
	<update id="writeAppWorkStation">
		update app_work_station set work_station_id = #{workStationId},
		work_station_name = #{workStationName},
		work_station_desc = #{workStationDesc} where work_station_id = #{workStationId};
	</update>

</mapper>
