<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="newAppYearEndPeriodMapper">			
	
	<insert id="newAppYearEndPeriod">
		insert into app_year_end_period(year_end_period_id,date,status,created_by) 
		values (#{yearEndPeriodId},#{date},#{status},#{createdBy});
	</insert>

</mapper>
